<h1 align="center">Angular Assignment 1</h1>
<nav>
  <ul>
    <li><a routerLink="/task1">Task 1</a></li>
    <li><a routerLink="/task2">Task 2</a></li>
    <li><a routerLink="/task3">Task 3</a></li>
    <li><a routerLink="/task4">Task 4</a></li>
    <li><a routerLink="/task5">Task 5</a></li>
    <li><a routerLink="/task6">Task 6</a></li>
    <li><a routerLink="/task7">Task 7</a></li>
    <li><a routerLink="/task8">Task 8</a></li>
    <li><a routerLink="/task9">Task 9</a></li>
    <li><a routerLink="/task10">Task 10</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>